$_five_logo_base_width: 100%;
$_five_logo_base_height: 100%;

.five-logo-container {
    z-index: 100;

    .content__main-column {
        position: absolute;
    }

    .five-logo {
        width: $_five_logo_base_width / 1.25;
        height: $_five_logo_base_height / 1.25;
    }
}

.five-sidebar {
    background: $neutral-6;

    .five-logo {
        width: $_five_logo_base_width / 2;
        height: $_five_logo_base_height / 2;
    }

    .five-sidebar-image {
      width: 80px;
    }

    .five-kicker {
      font-family: $f-serif-headline;
      font-weight: 800;
      color: $neutral-1;
      font-size: 16px;
      line-height: 16px;
    }
}

.five-thrasher {
    background-color: grey;
}
