@()

@import views.support.FiveADayHelpers.getItems

<section class="fc-container five-thrasher">
    <div class="fc-container__inner">
        <div class="five-thrasher__header">
            @fragments.containers.fiveADay.logo()
        </div>
        <div class="five-thrasher__content">
          <div class="five-daily-dose">@fragments.inlineSvg("daily_dose", "five")</div>
            <ul>
                @getItems.map { item =>
                    <a class="js-five-a-day-item" href="@item.articleUrl" >
                      <div class="five-tick">@fragments.inlineSvg("Tick_288x288", "five")</div>
                      <div class="five-dotted-line">@fragments.inlineSvg("line_bg", "five")</div>
                        <li>
                            <img class="five-sidebar-image"  src="@item.imageSrc" />
                            <span class="five-kicker">@item.kicker</span>
                            <span class="five-divider">/</span>
                            <span class="five-standfirst">@item.standfirst</span>
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
</section>
